.navbar {
    background-color: rgb(81,45,168)
}

.jumbotron {
    background-color: #9575CD !important;
    color: white !important;
    
}
.jumbotron__content{
    width: 80%;
    margin:0 auto;
}
.link__content{
    list-style: none
}
.footer{
    background-color: #D1C4E9;
    color: black
}

.link_footer{
    margin-top: 100px;
    text-align: center;
}

.breadcrumb-item{
    text-decoration: none;
}
.card-header{
    font-size: 25px;
    font-weight: bold;
}
.thead-dark{
    background-color: #000;
    color: #FFF;
}

.title{
    font-weight: bold;
}
.bg-gray{
    background-color: #F2F2F2;
}
.card-blockquote{
    font-size: 17px;
    color: gray;
}
.logo{
    height:30px;
    width:41px;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding:10px;
    margin: 2rem 0;
}